attrs==21.4.0
certifi==2022.9.24
click==7.1.2
dnspython==2.2.1
docker-pycreds==0.4.0
future==0.16.0
gitdb==4.0.9
gitpython==3.1.29
importlib-metadata==4.13.0
importlib-resources==5.10.0
jsonschema==4.3.3
kiwisolver==1.4.4
matplotlib==3.2.2
pathlib==1.0.1
pathtools==0.1.2
pillow==7.1.2
promise==2.3
protobuf==3.17.3
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.5
pyyaml==6.0
scipy==1.7.3
sentry-sdk==1.9.0
shortuuid==1.0.9
smmap==5.0.0
tabulate==0.8.10
tensorboard==2.9.1
termcolor==2.0.1
timm==0.6.11
torch==1.12.1
torchelastic==0.2.0
torchtext==0.13.1
torchvision==0.13.1
wandb==0.13.5
zipp==3.10.0